In [30]:
#To import, enable, initalise spark into jupyter
#!pip install findspark
#!pip install pyspark

import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.sql("select 'Spark' as Hello")
#df = spark.sql("select 'spark', 'myron' as hello")
df.show()

#importing the libraries i will need later
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
from pyspark.sql.functions import col
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

+-----+
|Hello|
+-----+
|Spark|
+-----+

In [31]:
import pandas as pd

d = {'col1': [1, 1, 2, 3], 'col2': [1, 1, 2, 3]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     1
1     1     1
2     2     2
3     3     3

In [32]:
for i in df.columns:
    #print(df.mode())
    x =df.value_counts().idxmax()
    print(x)

(1, 1)
(1, 1)

In [33]:
x =df[['col1','col2']].value_counts().idxmax()
print(x)

(1, 1)

In [34]:
df = pd.DataFrame({'person_id': [0, 1, 2, 3],

                  'age': [21, 25, 62, 43],

                  'height': [1.61, 1.87, 1.49, 2.01]}

                 ).set_index('person_id')

df

           age  height
person_id
0           21    1.61
1           25    1.87
2           62    1.49
3           43    2.01

In [35]:
df.var(axis="index")

age       352.916667
height      0.056367
dtype: float64